name: CI/CD Pipeline

on:
  release:
    types: [ published ]
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Lint using Ruff
        uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: "format --check --diff"
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install the dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Tests
        run: pytest --cov=app --cov-fail-under=80
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: github.event_name == 'push' || github.event_name == 'release'
    permissions:
      contents: read
      actions: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          version: 'latest'
          tag: 'latest'

